.side-circle {
	max-height: 64px;
	max-width: 64px;
}

.nav-back1 img{
	height: 160px;
	width: 300px;
}

.background1{
	background-color: #EEEEEE;
	height: 100vh;
}
.dropdm{
	background-color: #0195a2;
}
.select{
	padding: 10px;
}
.dropdown-button{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.iconcol{
	color: #0195a2;
}
div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}
.scroll-text{
	margin-top: -10px;
	margin-bottom: -10px;
}
.exp{
	padding: 15px;
	font-size:20px;	
}
.clogo img{
	max-height: 40px;
	max-height: inherit;
}
#logo-container{
	max-height: 64px;
}
