.side-circle {
	max-height: 64px;
	max-width: 64px;
}

.nav-back1 img{
	height: 160px;
	width: 300px;
}

.background1{
	background-color: #bdbdbd;
	height: 100vh;
}
.dropdm{
	background-color: #01848F;
}
.select{
	padding: 10px;
}
.dropdown-button{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
